@{
    ViewBag.Title = "Manual";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Manual</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus feugiat tellus volutpat rutrum. Pellentesque interdum tempor risus. Sed vel sapien a purus dapibus molestie. Nunc iaculis iaculis mi, in dignissim sem. Pellentesque maximus velit sit amet libero faucibus lobortis. Cras ut auctor est, in ultricies diam. Sed sodales elit ut elit pellentesque, id convallis ligula ornare. Proin tristique orci sit amet sapien porta dignissim.</p>
        <p>Vivamus ullamcorper felis id quam volutpat, quis mattis lacus fermentum. Fusce convallis nisi vel tincidunt imperdiet. Vivamus pretium, ipsum id faucibus lobortis, felis ante accumsan magna, eget interdum quam mi a urna. Morbi vel elit sed orci tempor venenatis. Vestibulum et metus a felis auctor sagittis non nec ipsum. Aliquam non massa feugiat eros efficitur efficitur. Integer varius eros interdum nisi vulputate, eget scelerisque lacus dapibus. Vestibulum nec ultricies metus. Suspendisse potenti.</p>
        <p>In hac habitasse platea dictumst. Curabitur a tellus lorem. Fusce ac sodales velit, vitae pellentesque odio. Maecenas elementum varius orci vel convallis. Quisque id vulputate libero, ut suscipit arcu. Suspendisse sit amet tincidunt mauris. Donec dui magna, lacinia vel dictum eget, aliquam a quam. Curabitur dictum tincidunt odio nec imperdiet.</p>
        <p>Etiam vitae dignissim ipsum, at blandit mauris. Phasellus quis porttitor justo. Cras gravida nisl vitae felis malesuada, sit amet lobortis urna vestibulum. Suspendisse ac nulla a erat consequat dapibus. Maecenas nec purus eget diam posuere interdum quis vel felis. Nulla nec nisl sit amet tellus rhoncus laoreet. Etiam venenatis cursus enim, nec imperdiet tortor semper a. Praesent auctor, ex sed convallis lobortis, ante quam rhoncus neque, a ultricies eros turpis non lorem. Vestibulum pellentesque dapibus velit quis egestas. Nam ac massa mauris. Sed posuere sapien id odio iaculis, quis vestibulum est elementum. Integer justo nisl, rhoncus eget ultricies eu, pellentesque eget nisl. Nam pharetra faucibus justo, sit amet iaculis risus dignissim a. Integer nec mauris gravida, blandit nisl eu, tempus massa. Sed eget risus vitae sapien convallis aliquet et at felis. Nulla sed massa lobortis sem accumsan facilisis.</p>
    </div>
</div>