@using Rent_All_Certificate.Models
@{
    var roleId = 0;
    if (Session["RoleID"] != null) {
        roleId = (int)Session["RoleID"];
    }

    if (roleId != 0) {

        <ul class="nav navbar-nav navbar-right">
            @{ var vendor = new RentAllEntities().Employee.Find(roleId);}
            <li><a href="#">@Html.Label("Logged in as " + vendor.Firstname + " " + vendor.Lastname)</a></li>
            <li>@Html.ActionLink("Log off", "LogOff", "Home")</li>
        </ul>
    }
    else {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
}
