@model Rent_All_Certificate.Models.ProductIndexModel

@{
    ViewBag.Title = "Products";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Products</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div id="ProductList">
    @Html.Partial("~/Views/Products/_productIndex.cshtml", Model)
</div>

