@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Certificates</h2>
        <hr/>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales ut lorem luctus semper. Curabitur ipsum ante, scelerisque eu bibendum at, finibus dapibus urna. Phasellus ultrices nisl a aliquet tempor. Vestibulum eget condimentum nunc. Nunc id fermentum justo, a scelerisque est. Aenean cursus lectus vitae commodo finibus. Duis porta tristique ligula in pharetra. Aenean vehicula ipsum id justo tempus, ut sollicitudin diam pretium. Nullam hendrerit urna ut lectus elementum dignissim. Sed lacinia sit amet mauris at dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin erat lorem, ornare et tincidunt id, placerat id nunc. Sed placerat urna sed elit ullamcorper, et fringilla metus fringilla. Nulla finibus convallis ex, vel aliquam ante ultricies convallis. Vestibulum venenatis libero vitae elit ultricies placerat.</p>
        <p>Etiam tristique gravida ex. Nam at eleifend est, vel consequat justo. Fusce fermentum est id leo viverra bibendum. Etiam porttitor, arcu quis pretium pellentesque, dolor purus rutrum elit, sit amet ullamcorper sem urna vitae arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras tincidunt nunc et massa viverra, at ultrices felis elementum. Duis venenatis malesuada nunc varius elementum.</p>
        <p>Vestibulum ac pretium tellus, sit amet mattis ex. Phasellus eu metus tincidunt, faucibus nulla ac, faucibus enim. Pellentesque blandit risus nec felis maximus, quis auctor ex laoreet. Donec sit amet tortor volutpat, tempus tellus lobortis, fermentum est. Curabitur sodales malesuada urna, placerat lacinia arcu malesuada sagittis. Curabitur congue eros non nisl laoreet molestie. Mauris eu viverra purus. Nam placerat diam urna. Proin vitae dui consectetur, iaculis felis sed, imperdiet felis. Fusce ex mauris, egestas ac justo vitae, laoreet malesuada sem. Quisque fringilla neque at suscipit tempus. Pellentesque auctor augue non mi vulputate, eu placerat libero accumsan.</p>
    </div>
</div>