@using Rent_All_Certificate.Models
@model IEnumerable<Rent_All_Certificate.Models.Category>

@{
    ViewBag.Title = "Index";
    string inspring = " - ";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Partial("~/Views/Categories/_categoryLijst.cshtml", Model)